.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  display: flex;
  align-items: center;
  color: #ff9f00;
}

.logo {
  width: 100px;
  object-fit: contain;
}

.header__logoTitle {
  text-decoration: none;
  border: 0;
  color: white;
}

.header__search {
  height: 40px;
  display: flex;
  width: 70%;
  align-items: center;
  border-radius: 24px;
  margin: 0 10px;
}

.header-btn {
  width: 30px;
  height: 40px;
  border: 0;
  background-color: transparent;
}

.header__searchInput {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  padding: 10px 30px;
  outline: none;
  border: none;
  width: 100%;
}

.header__searchIcon {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 5px;
  margin-top: 1px;
  height: 38px !important;
  background-color: #ff9f00;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.nav__item {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.nav__itemLineOne {
  font-size: 10px;
}

.nav__itemLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.nav__itemBasket {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 10px;
}

.nav__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 75px;
  }
  .nav__item {
    display: none;
  }
}
